<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>RainBar</string>
	<key>CFBundleDisplayName</key>
	<string>RainBar</string>
	<key>CFBundleIdentifier</key>
	<string>com.rainbar.app</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>RainBar</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>nl</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSLocationUsageDescription</key>
	<string>RainBar gebruikt je locatie voor regen- en weersverwachtingen in jouw omgeving.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>RainBar gebruikt je locatie voor regen- en weersverwachtingen in jouw omgeving.</string>
	<key>SUFeedURL</key>
	<string>https://github.com/perhorst1234/rain_app/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Ax+XyBP7mHA5hNKPp14CfIugFrfw3APoVT2dfzZELGA=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>3600</integer>
	<key>SUScheduledImpatientCheckInterval</key>
	<integer>86400</integer>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>SURequireSignedFeed</key>
	<true/>
</dict>
</plist>
